<!DOCTYPE html>
<html ng-app="Chromestrap" ng-csp>

<head>
  <title>Chromestrap</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1.0">
  <link rel="stylesheet" href="../vendor/bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="../build/main.css">
</head>

<body>
  <div ui-view="screen"></div>

  <!-- js libs -->
  <script type="text/javascript" src="../vendor/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="../vendor/bower_components/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="../vendor/bower_components/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="../vendor/bower_components/angular-material/angular-material.js"></script>
  <script type="text/javascript" src="../vendor/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

  <!-- js -->
  <script type="text/javascript" src="../js/env.js"></script>
  <script type="text/javascript" src="../js/build.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
  <script type="text/javascript" src="../js/controllers.js"></script>
  <script type="text/javascript" src="../js/mocks.js"></script>
</body>

</html>
